.NavBarCSS{
    vertical-align: middle;
    list-style-type: none;
}
.NavBarCSS ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.NavBarCSS li {
    display: inline-table;
    margin: 3px;

}

.NavBarCSS li button {
    width: 200px;
}